*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #35667C;
	margin: 1% 4%;
}
:root {
    --font: 'Nunito', sans-serif;
    --normal-weight: 400;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black-weight: 900;
	--text-color: #6B350E;
    font-size: 1rem;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
header {
    background-color: #4A2409;
    color: #fff;
    background-image: linear-gradient(rgba(88, 37, 1, 0.841), rgba(88, 37, 1, 0.1)), url(img/header-photo.png);
    background-size: cover;
    background-position: right center;
    border-radius: 11px;
    margin: 0 10px 0;
}
header a {
    padding-top: 30px;
}
header nav ul {
    display: flex;
    
}

.left-side {
    padding-top: 15px;
}

.right-side {
    padding-top: 32px;
	display: inline-block;
}


header nav .left-side {
    padding-left: 40px;
    padding-right: 0;
	margin-right: auto;
}

header nav li:last-child {
    margin-right: 40px;
}

.right-side:not(:last-child) {
    padding-right: 30px;
}

header nav li a {
    color: #fff;
    font-family: var(--font);
    font-weight: var(--normal-weight);
	font-size: 22px;
	line-height: 30px;
	
}

header h1 {
    font-size: 47px;
    font-family: var(--font);
    font-weight: var(--black-weight);
    line-height: 45px;
    text-align: center;
    padding: 18% 2.5%;
}

#wrapper {
    max-width: 1320px;
    max-height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 20px;
	padding-top: 15px;
}

.intro {
    text-align: center;
    margin: 80px auto;
}
.intro h2 {
    font-size: 40px;
    font-family: var(--font);
    font-weight: var(--black-weight);
    color: var(--text-color);
	line-height: 55px;
}
.intro .time {
    font-size: 38px;
	line-height: 51.83px;
    font-weight: var(--semi-bold);
}
.intro p {
    font-size: 25px;
    font-family: var(--font);
    font-weight: var(--semi-bold);
    color: #6B350E;
    text-transform: uppercase;
	line-height: 34.1px;
}
main {
    margin: 0 134px;
}
main section:not(.midSec) {
    display: grid;
    gap: 50px;
    grid-template-columns: 300px 1fr;
    padding-bottom: 80px;
}
.topSec p, .topSec h2, .endSec p, .endSec h2 {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}
.text {
	align-self: center;
}
section:nth-of-type(2) {
    display: grid;
    gap: 50px;
    grid-template-areas: 
        "h2 img";
    padding-bottom: 80px;
	grid-template-columns: 1fr 300px;
}
.midSec h2 {
    grid-area: h2;
}
.midSec p {
    grid-area: h2;
    
}
.midSec img {
    grid-area: img;
}
.topSec h2, .midSec h2, .endSec h2 {
    color: var(--text-color);
    font-weight: var(--bold);
    font-family: var(--font);
    font-size: 2.25rem;
    line-height: 40px;
}
.topSec p, .midSec p, .endSec p {
    color: #6B350E;
    font-family: var(--font);
    font-weight: var(--normal-weight);
    font-size: 1.4rem;
    line-height: 30px;
    padding-top: 10px;
}
section img {
    max-width: 100%;
    border-radius: 20px;
    align-self: center;
}
.section-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 80.5px;
}
.menu-wrapper {
    display: flex;
    justify-content: center;
    gap: 44px;
	padding-bottom: 80px;
}
.menu-wrapper a {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 20px;
	overflow-x: hidden;
	aspect-ratio: 502 / 390;
	width: 390px;
 
 }
.drinkLink {
    background-image: url(img/drink-menu.png);
    background-size: cover;
    background-position: center;
    /* top: 50%; */
}
/* .drink-menu {
    display: flex;
    justify-content: center;
    
} */

.foodLink {
    background-image: url(img/food-menu.png);
    background-position: center;
    background-size: cover;
    /* top: 50%; */
}

.drink-menu, .food-menu {
    color: #FFFFFF;
    font-family: var(--font);
    font-weight: var(--black-weight);
    font-size: 36px;
    line-height: 49px;
    white-space: nowrap;
    
}

footer {
	border-top: 2px solid #6B350E66;
	padding-top: 2.5rem;
}
footer div {
	font-family: var(--font);
	color: var(--text-color);
	display: grid;
	grid-template-areas: "phoneNum address    email"
						 ".        social     .    "
						 ".        copyright  .    ";
	justify-items: center;
	gap: 30px;
	margin: 0 10px;
}
footer p:not(#copyright) {
	font-size: 1.57rem;
}
#address {
	font-weight: var(--extra-bold);
	grid-area: address;
}
#copyright {
	font-size: .88rem;
	grid-area: copyright;
	padding-bottom: 15px;
}
#phone-number {
	grid-area: phoneNum;
}
#email {
	grid-area: email;
}
.socials {
	grid-area: social;
}
.socials a:not(:last-child) {
	padding-right: 15px;
}

@media (max-width:1300px) {   /* 1300px or less */
    .topSec h2, .midSec h2, .endSec h2 {
       font-size: 1.75rem;
    }
    .topSec p, .midSec p, .endSec p {
        font-size: 1.25rem;
        padding-top: 5px;
        line-height: normal;
     }
}
@media (min-width:786px) and (max-width:950px) {  /* between 786px and 950px */
	main {
		margin: 0 90px;
	}
	main section:not(.midSec) {
		grid-template-columns: 250px 1fr;
	}
	section:nth-of-type(2) {
		grid-template-columns: 1fr 250px;
	}
    .topSec h2, .midSec h2, .endSec h2 {
        color: red;
        font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.4rem);
        line-height: normal;
     }
     .topSec p, .midSec p, .endSec p {
        color: red;
        font-size: clamp(.85rem, 1vw + .5rem, 1.2rem);
        line-height: normal;
     }
     
     .drink-menu, .food-menu {
        font-size: 25px;
     }
	 footer p:not(#copyright) {
		font-size: 1.3rem;
	 }
}
@media (max-width:785px) {  /* 785px and lower */
	body {
		background-color: #fff;
		margin: 0;
	}
	main {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0 1.5rem;
	}
	#menuDiv {
		display: flex;
		justify-content: center;
	}
	.intro h2 {
		line-height: 45px;
	}
	.intro p {
		font-size: 20px;
		line-height: 27.28px;
	}
	.intro .time {
		font-size: 31px;
		line-height: 42.28px;
	}
    .topSec h2, .midSec h2, .endSec h2 {
        color: blue;
		font-size: 1.8rem;
		line-height: 34px;
		padding: 3% 0 0;
     }
     .topSec p, .midSec p, .endSec p {
        color: blue;
		font-size: 1.15rem;
		line-height: 26px;
     }
    
	 header {
		margin: 0;
		border-radius: 0;
	 }
	 #wrapper {
		padding-top: 0;
	 }
     header nav ul {
		display: block;
		text-align: center;
	}
	header nav li:last-child {
		margin-right: 0;
	}
	header nav .left-side {
		padding-left: 0;
	}
    main section {
        display: block !important;
     }
	 .menu-wrapper {
		flex-direction: column;
		align-items: center;
	}

	section {
		text-align: center;
	}
	section .text :last-child {
		text-align: left;
	}
	.text {   /* remove later just for test */
		color: red;
		/* text-align: left; */
	}
	footer div {
		display: block;
		text-align: center;
	}
	footer p:not(#copyright) {
		font-size: 1.38rem;
	}
	.socials {
		padding: 1.88rem 0;
	}
	#address, #phone-number {
		padding-bottom: 10px;
	}

}
@media (max-width:500px) {
	section .text h2 {
		text-align: left;
		font-size: 1.6rem;
	}
}