*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #35667C;  for desktop and will be in media query*/
    background-color: #35667C;
}
:root {
    --font: 'Nunito', sans-serif;
    --normal-weight: 400;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black-weight: 900;
    font-size: 1rem;
}
a {
    text-decoration: none;
}

header {
    background-color: #4A2409;
    color: #fff;
    background-image: linear-gradient(rgba(88, 37, 1, 0.841), rgba(88, 37, 1, 0.1)), url(img/header-photo.png);
    background-size: cover;
    background-position: right center;
    border-radius: 11px;
    margin: 0 10px;
}

header a {
    padding-top: 30px;
}

/* header nav {
    display: flex;
} */

header nav ul {
    display: flex;
    list-style-type: none;
}

.left-side {
    padding-top: 15px;
}

.right-side {
    padding-top: 32px;
}

header nav li {
    font-size: 22px;
    line-height: 30px;
}

header nav li:first-child {
    padding-left: 40px;
    margin-right: auto;
}

header nav li:last-child {
    margin-right: 40px;
}

header nav li:not(:last-child) {
    padding-right: 30px;
}

header nav li a {
    color: #fff;
    font-family: var(--font);
    font-weight: var(--normal-weight);
}

header h1 {
    font-size: 47px;
    font-family: var(--font);
    font-weight: var(--black-weight);
    line-height: 45px;
    text-align: center;
    padding: 18% 0;
}

#wrapper {
    max-width: 1320px;
    max-height: 100%;
    margin: 15px auto;
    padding-top: 15px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.intro {
    text-align: center;
    margin: 80px auto;
}
.intro h2 {
    font-size: 40px;
    font-family: var(--font);
    font-weight: var(--black-weight);
    color: #6B350E;
}
.intro .time {
    font-size: 38px;
    font-weight: var(--semi-bold);
}
.intro p {
    font-size: 25px;
    font-family: var(--font);
    font-weight: var(--semi-bold);
    color: #6B350E;
    text-transform: uppercase;
}
main {
    margin: 0 134px;
}
.topSec, .endSec {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 80px;
}
.topSec p, .topSec h2, .endSec p, .endSec h2 {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}
.topSec p, .endSec p {
    padding-top: 10px;
    line-height: 30px;
}
.topSec h2, .endSec h2{
    line-height: 40px;
}
.midSec {
    display: grid;
    gap: 50px;
    grid-template-areas: 
        "h2 img";
    padding-bottom: 80px;
}
.midSec h2 {
    grid-area: h2;
}
.midSec p {
    grid-area: h2;
    padding-top: 10px;
}
.midSec img {
    grid-area: img;
}
.topSec h2, .midSec h2, .endSec h2 {
    color: #6B350E;
    font-weight: var(--bold);
    font-family: var(--font);
    font-size: 2.25rem;
    line-height: 40px;
}
.topSec p, .midSec p, .endSec p {
    color: #6B350E;
    font-family: var(--font);
    font-weight: var(--normal-weight);
    font-size: 1.4rem;
    line-height: 30px;
}
section img {
    max-width: 100%;
    border-radius: 20px;
    align-self: center;
}
.text {
    align-self: center;
}
.section-logo {
    display: flex;
    justify-content: center;
    padding-bottom: 80.5px;
}
#menuDiv {
    display: grid;
    grid-template-areas: "drink food";
    gap: 44px;
}
.drinkLink {
    background-image: url(img/drink-menu.png);
    background-size: cover;
    background-position: center;
    margin-left: 134px;
    /* top: 50%; */
}
.drink-menu {
    display: flex;
    justify-content: center;
    grid-area: drink;
    
}
#menuDiv a {
   border-radius: 20px;
}
.foodLink {
    background-image: url(img/food-menu.png);
    background-position: center;
    background-size: cover;
    margin-right: 134px;
    /* top: 50%; */
}
.food-menu {
    display: flex;
    justify-content: center;
    grid-area: food;
}
.drink-menu, .food-menu {
    padding: 17vw 0 0.75vw;
    color: #FFFFFF;
    font-family: var(--font);
    font-weight: var(--black-weight);
    font-size: 1.9vw;
    line-height: 49px;
}



@media (min-width:601px) and (max-width:900px) {  /* between 601px and 900px */
    .topSec h2, .midSec h2, .endSec h2 {
        color: red;
     }
}
@media (max-width:1300px) {   /* 1300px or less */
    .topSec h2, .midSec h2, .endSec h2 {
       font-size: 2rem;
    }
    .topSec p, .midSec p, .endSec p {
        font-size: 1.22rem;
     }
}
@media (max-width:600px) {  /* 600px and lower */
    .topSec h2, .midSec h2, .endSec h2 {
        color: blue;
     }
}